.coolTitle {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 40px;
    transform: skewY(-10deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: tomato;
    text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
        -3px -3px 0 firebrick, -4px -4px 0 firebrick, -5px -5px 0 firebrick,
        -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick,
        -130px 20px 40px dimgrey;
}

.myTitle {
    font-size: 40px;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
    background-color: white;
    width: 50vh;
    height: 50vw;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    border: solid black 1px;
    font-size: 25px;
}

li {
    padding: 5px;
}

body {
    font-family: monospace;
    margin: 0 auto;
    text-align: center;
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        to right,
        rgb(250, 106, 153),
        rgb(218, 103, 10)
    );
}

#btn_delete {
    margin-left: 10px;
    background: white;
    color: black;
    border-radius: 15px;
    border: orangered double;
    /* background-image: linear-gradient(to right, rgb(227, 90, 105), rgb(164, 9, 205));
} */
}

#first {
    font-size: 20px;
}

#userinput {
    color: orangered;
    border: white;
    background-color: white;
    border-radius: 8px;
    font-size: 17px;
}

#enter {
    margin: 5px;
}

button {
    background-image: linear-gradient(
        to right,
        rgb(250, 106, 153),
        rgb(218, 103, 10)
    );
    border-radius: 5px;
    font-family: monospace;
}

#saved_list {
    color: black;
    font-size: 20px;
}

/*responsive page*/

/* Stile per schermi di larghezza inferiore a 640 pixel */
@media screen and (max-width: 640px) {
    body {
        font-size: 16px;
    }
}

/* Stile per schermi di larghezza compresa tra 641 e 1007 pixel */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    body {
        font-size: 18px;
    }
}

/* Stile per schermi di larghezza superiore a 1008 pixel */
@media screen and (min-width: 1008px) {
    body {
        font-size: 20px;
    }
}
